.Header-bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../assets/header-bg.jpg');
    background-size: cover;
    padding: 100px 200px;
}


@media screen and (max-width:576px) {
    .Header-bg{
        padding: 100px 20px;
    }
}