.form-control{
    border: 1px solid black;
    border-radius: 0;
}
.form-control:focus{
    box-shadow: none;
    border: 1px solid black;
}
.signup{
    font-size: 16px;
    color: blue;
}
.googleSignIn{
    cursor: pointer;
}